
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  background-color:#ffccbc ;
}

header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  color:#039be5;
}

.Store {
  font-size: 30px;
  color: #dbdbdb;
}

.Home {
  font-size: 30px;
  color: #dbdbdb;
}

. {
  font-size: 30px;
  color: #dbdbdb;
}


.nav {
  height: 50px ;
  background: #231f1f;
}